.app {
  padding: 30px;
  display: flex;
}

.app > div {
  margin-right: 50px;
}

.error {
  border: red 2px solid
}

.errorMessage {
  color: red
}

.activeFilter {
  background: #ffd6d6;
  border-color: #ffa3a3;
}

.isDone {
  opacity: 0.4;
}

input {
  outline: none;
}
